
@{
    ViewBag.Title = "Add";
}

<h2>New Teacher</h2>
<form method="POST" action="/Teacher/Update">
    <div>
        <label for="TeacherFname">
            First Name:
            <input type="text" id="TeacherFname" name="TeacherFname" />
        </label>
    </div>
    <div>
        <label for="TeacherLname">
            Last Name:
            <input type="text" id="TeacherLname" name="TeacherLname" />
        </label>
    </div>
    <div>
        <label for="TeacherId">
            Teacher ID:
            <input type="number" id="TeacherId" name="TeacherId" />
        </label>
    </div>
    <div>
        <label for="EmployeeNumber">
            Employee Number:
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" />
        </label>
    </div>
    <div>
        <label for="HireDate">
            Hire Date:
            <input type="datetime" id="HireDate" name="HireDate" placeholder="yyyy-MM-dd" />
        </label>
    </div>
    <div>
        <label for="Salary">
            Salary:
            <input type="number" id="Salary" name="Salary" step="0.01" />
        </label>
    </div>
    <div>
        <input type="submit" value="Create Teacher" />
    </div>
</form>